.content {
  margin: 0 auto;
	max-width: 400px;
  padding-bottom: 70px;
  padding-top: 20px;
}

.empty {
	color: rgba(250, 250, 250, 0.82);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

mat-card {
	margin: 28px;
	padding: 24px 24px 12px 24px;

	mat-card-header {
		.price { float: right; }
		.header-image { background-size: cover; }
	}

	mat-card-content {
		text-align: center;

		.header { padding: 8px 0 8px 0; }
		.top, .bottom {
			display: flex;
			& > * { flex: 1; }
		}
		.up { color: green; }
		.down { color: red; }
	}
}

.loading {
	position: fixed;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 449px) {
	mat-card { margin: 0 0 28px 0; }
}