<h2 mat-dialog-title>Select coins to track</h2>
<mat-dialog-content>
	<div class="container" *ngIf="set">
		<!--
		<div class="header">
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div> -->

		<mat-table #table [dataSource]="dataSource">

			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>

			<!-- Checkbox Column -->
			<ng-container matColumnDef="select">
				<mat-header-cell *matHeaderCellDef class="align-right">
					<mat-checkbox
					color="primary"
					(change)="$event ? masterToggle() : null"
					[checked]="selection.hasValue() && isAllSelected()"
					[indeterminate]="selection.hasValue() && !isAllSelected()">
				</mat-checkbox>
				</mat-header-cell>
				<mat-cell *matCellDef="let row" class="align-right">
					<mat-checkbox
					color="primary"
					(click)="$event.stopPropagation()"
					(change)="$event ? selection.toggle(row) : null"
					[checked]="selection.isSelected(row)">
					</mat-checkbox>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"
			(click)="selection.toggle(row)">
			</mat-row>

		</mat-table>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="selection.selected">Finish</button>
</mat-dialog-actions>

