<entry-login></entry-login>

<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<!--<div class="bottom">-->
  <!--<div class="b-actions">-->
    <!--<div class="a-action" (click)="onNotifications()">-->
      <!--<div class="a-notifications">-->
        <!--<div class="b-top">-->
          <!--<mat-icon>notifications</mat-icon>-->
        <!--</div>-->
        <!--<div class="b-bottom">-->
          <!--<span>NOTIFICATIONS</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="a-action" (click)="onAdd()">-->
      <!--<div class="a-add">-->
        <!--<div class="b-top">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</div>-->
        <!--<div class="b-bottom">-->
          <!--<span>ADD COINS</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->